.app {
	text-align: center;
}

.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	margin-top: 20px;
}

.container {
	max-width: 800px;
	margin: 0 auto;
}

.title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: rgba(136, 136, 136, 0.577);
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
}

.content {
	border: 2px solid rgb(0, 0, 0);
}
